@charset "UTF-8";

/*Estilo para tela*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(255, 255, 254);
}

h1{
    text-align: center;
    margin: 10px;
    text-shadow: 0.8px 0.8px 0.8px black;
}

ul{
    text-align: center;
    align-items: center;
    padding: 5px;
}

li{
    display: flex;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(107, 107, 107);
    color: white;
}

h2{
    text-align: center;
    margin: 12px;
}

p{
 text-align: center;
 align-items: center;
}
