@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(98, 133, 163);
}

.cabecalho {
    background-color: aqua;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

.opcoes {
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    gap: 20px;
    /* espaço entre os li */
    list-style: none;
    /* remove bolinhas */
    padding: 30px;
    gap: 200px;
}

.opcoes>li {
    cursor: pointer;
    width: 100px;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}

li:hover {
    transform: scale(1.2);
    color: #333;
}

main {
    display: flex;
    align-items: center;
    /* alinha verticalmente */
    justify-content: center;
    /* centraliza tudo */
    gap: 40px;
    /* espaço entre foto e texto */
    padding: 40px;
}

img {
    width: 250px;
    border-radius: 20px;
}

div.descricao {
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 8px;
    color: white;

    justify-content: center;
    text-align: center;
    align-items: center;

}