@charset "UTF-8";

/* Typical divece breakpoints
-----------------------------
Pequenas telas:ate 600px
Celular: De 600px ate 768px
Tablet: De 768px ate 992px
Desktop: De 992px ate 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px){

    i#burguer{
        display: none;
    }

    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }

    main{
        width:768px;
    }
}